.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 28px;
  margin-bottom: 28px;
}

header > .logo {
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 119px;
}

figure > .img {
  width: 27px;
  height: 27px;
  margin-right: 8px;
}

.logo > .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #3a404e;
}

.list {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin-right: 398px;
}

.list > .item {
  margin-right: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.item > a {
  color: #667085;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button > .secundary {
  padding: 10px 18px;
  width: 83px;
  height: 44px;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: #667085;
  margin-right: 8px;
}

.button > .primary {
  box-sizing: border-box;
  padding: 10px 18px;
  width: 112px;
  height: 44px;
  background: #8e2424;
  border: 1px solid #8e2424;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}

.banner > .span {
  width: 78px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8e2424;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 24px;
}

.banner > .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
  color: #101828;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
}

.banner > .paragrafy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #667085;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px 0px;
  width: 792px;
  height: 83px;
}

.metrics {
  display: flex;
  width: 1280px;
  height: 192px;
  margin: 107px auto 96px auto;
}

.metrics > .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 280px;
  height: 168px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.item > .title {
  width: 280px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #8e2424;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 12px;
}

.item > .describe {
  width: 280px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 8px;
}

.item > .subdescribe {
  width: 280px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 96px;
}

.talents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talents > span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  width: 125px;
  height: 28px;
  background: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #8e2424;
  margin-bottom: 20px;
}

.talents > h5 {
  width: 768px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
  margin-bottom: 20px;
}

.talents > p {
  width: 768px;
  height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #667085;
}

.jobs-container figure {
  margin-top: 64px;
}

.jobs-open {
  margin: 64px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-jobs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-jobs > .header-jobs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  margin-bottom: 24px;
}

.content-jobs > .details-job {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 28px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  margin-bottom: 32px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.details-job > .title-job {
  width: 720px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #101828;
}
.item-job {
  display: flex;
  margin-top: 32px;
}

.item-job > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  text-align: end;
}

.item-job > p:first-child {
  margin-right: 24px;
}

.testimony {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 32px;
  width: 1280px;
  height: 404px;
  margin-bottom: 96px;
}

.content-testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  width: 1216px;
  background: rgba(196, 25, 25, 0.03);
  border-radius: 16px;
}

.header-testimony {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #8e2424;
  margin-bottom: 16px;
}

.describe-testimony {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
  width: 1088px;
  margin-bottom: 32px;
}

.avatar-testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1088px;
}

.avatar-testimony > picture {
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
}

.name-testimony {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #101828;
  margin-bottom: 4px;
}

.role-testimony {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #667085;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 32px;
  width: 1440px;
  height: 430px;
  background: #f9fafb;
}
.container-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 32px;
  width: 832px;
  height: 182px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  height: 182px;
  width: 768px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.contact-header > .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #101828;
}

.contact-header > .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #667085;
}

.contact-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 492px;
  height: 48px;
}
.contact-form > input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px 12px 16px;
  gap: 8px;
  width: 360px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.contact-form > button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  width: 116px;
  height: 48px;
  background: #8e2424;
  border: 1px solid #8e2424;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.text-footer {
  width: 393px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #98a2b3;
}
